@model IEnumerable<B2b_eCommerce.Identity.ApplicationUser>

<div class="panel panel-primary" style="margin-top:30px;">
    <div class="panel-heading">
        <h5>Buyers</h5>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Phone</th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" class="text-center">Kullanıcı Yok.</td>
            </tr>
        }
        else
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td><a href="/Account/BuyerProfile/@user.Id">@user.UserName</a></td>
                    @if (User.IsInRole("Gold"))
                    {
                        <td>@user.Phone</td>
                    }
                    else if (User.Identity.IsAuthenticated)
                    {
                        <td>
                            <label>You are not authorized to view contact information.<a href="Account/GetPremium">Get Gold Membership</a></label>
                        </td>
                    }
                    else
                    {
                        <td>
                            <label>You are not authorized to view contact information. <a href="Account/Register">Register</a></label>
                        </td>
                    }

                </tr>
            }
        }
    </table>
</div>