@model string
@{
    ViewBag.Title = "CreateRole";
}

<div class="container">
    <h2>CreateRole</h2>
    <hr />

    @Html.ValidationSummary()
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label>Name</label>
            <input name="name" value="@Model" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a href="/Admin" class="btn btn-danger">Back to Role Page</a>
    }
</div>

